.nav-dashboard {
    background: #003165;
    width: 230px;
    height: 100vh;
    transition: all 350ms;
    overflow: hidden;

    &__link {
        background: transparent; 
        width: 100%;
        color: #ffffff; 
        border: none; 
        margin: 13px 20px; 
        font-size: 15px; 
        display: flex; 
        align-items: center; 
        justify-content: flex-start; 
        opacity: .6;

        &:hover {
            opacity: 1;
        }

        svg {
            margin-right: 20px;
        }
    }

    &__button {
        background: #ffffff;
        width: 40px;
        height: 40px;
        margin: auto;
        color: #878787;
        font-size: 16px;
        border: 1px solid #878787;
        border-radius: 50%;
        opacity: .7;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: -850px;
    }

    &__logo {
        background: transparent;
        width: 100%;
        margin: 10px 0 30px 0;
        color: #ffffff;
        font-size: 23px;
        border: none;
    }

    &--active {
        width: 70px;

        .nav-dashboard__link {
            span {
                opacity: 0;
            }
        }
    }
}